:root {
  --primary: #ebc908;
  --primary-text: #1a1a1a;
  --secondary: #38827f;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}


.overflow-hidden {
  overflow: hidden;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.z-\[-1\] {
  z-index: -1;
}

.fixed {
  position: fixed;
}

.BackgroundStars_stars {
  z-index: 0;
  background: #000 url(images/bg/stars.png) repeat top;
}
@keyframes BackgroundStars_move-twink-back{
  0%{background-position:0 0}
  to{background-position:-10000px 5000px}
}
@keyframes BackgroundStars_move-clouds-back{
  0%{background-position:0 0}
  to{background-position:10000px 0}
}

.BackgroundStars_twinkling {
  z-index: 1;
  background: transparent url(images/bg/twinkling.png) repeat top;
  -webkit-animation: BackgroundStars_move-twink-back 200s linear infinite;
  animation: BackgroundStars_move-twink-back 200s linear infinite;
}

.BackgroundStars_clouds {
  z-index: 2;
  background: transparent url(images/bg/clouds.png) repeat top;
  -webkit-animation: BackgroundStars_move-clouds-back 200s linear infinite;
  animation: BackgroundStars_move-clouds-back 200s linear infinite;
}

.BackgroundStars_clouds, .BackgroundStars_stars, .BackgroundStars_twinkling {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



.btn-43 {
  border: 2px solid #38827f;
  z-index: 1;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  background: #38827f;
}

.btn-43:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #448a87;
  transition: all 0.3s ease;
}

.btn-43:hover {
  color: #fff;
}

.btn-43:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}